<% include ../partials/header %>

<div class="container text-center" id="formnew">

         <h1>Crop Data For <%= farmer.name %></h1>
          <form action="/sahayata/farmer/<%= farmer._id %>/crop" method="post">
              <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="type">Crop type</label>
                      <input class="form-control form-control-sm" id="type" type="text" placeholder="Type" name="crop[type]">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="quantity">Quantity</label>
                      <input class="form-control form-control-sm" id="quantity" type="text" placeholder="Quantity" name="crop[quantity]">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="price">Price</label>
                      <input class="form-control form-control-sm" id="price" type="text" placeholder="Price" name="crop[price]">
                  </div>
                </div>
                <button type="submit" name="button">Submit</button>
          </form>
</div>


<% include ../partials/footer %>
